@charset "UTF-8";

.spaced { margin: 2px; }

.deprecated { text-decoration: line-through; }

.link {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.rotate {
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
